.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 500px;
  background-color: #000000;
  scroll-behavior: smooth;
  transition: 1s;
}

.footer-first-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.be-the-first-know-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  padding-top: 60px;
}

.be-the-first-know {
  font-family: Bahnschrift;
  font-weight: 500;
  font-size: 22px;
  color: azure;
}

.sign-up-for-updates {
  font-family: Bahnschrift;
  font-weight: 300;
  font-size: 12px;
  color: azure;
  line-height: 80px;
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-first-section-container {
    flex-direction: column;
  }
  .be-the-first-know-container {
    padding-top: 30px;
    width: 100%;
  }
  .sign-up-for-updates {
    display: none;
  }
  .be-the-first-know {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .be-the-first-know-container {
    width: 50%;
  }
}

.lorem-ipsum-description-sm {
  font-family: Bahnschrift;
  font-weight: 300;
  font-size: 14px;
  color: azure;
  line-height: 20px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .lorem-ipsum-description-sm {
    display: none;
  }
}

.email-and-subscribe-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .email-and-subscribe-container {
    margin-top: 16px;
  }
}

.email-input-field {
  background-color: rgb(255, 255, 255);
  border: none;
  width: 400px;
  height: 40px;
  padding-left: 16px;
  border-radius: 6px;
  color: #000000;
  font-size: 16px;
  margin-right: 14px;
}

.email-input-field::placeholder {
  color: #bfc8cd;
  font-size: 14px;
}


.subscribe-btn {
  font-family: Bahnschrift;
  font-size: 16px;
  height: 40px;
  width: 170px;
  border: 1px solid #474343;
  color: #474343;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.subscribe-btn-md {
  font-family: Bahnschrift;
  font-size: 16px;
  height: 40px;
  width: 170px;
  border: 1px solid #474343;
  color: #474343;
  border-radius: 6px;
  background-color: transparent;
  margin-top: 18px;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #211f1f;
}
.subscribe-btn-md:hover {
  background-color: #211f1f;
}

@media screen and (min-width: 768px) and (max-width: 1229px) {
  .subscribe-btn {
    display: none;
  }
}

@media screen and (min-width: 1230px) {
  .subscribe-btn-md {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-btn-md {
    display: none;
  }
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 60px;
}

.contact-us {
  font-family: Bahnschrift;
  font-size: 22px;
  color: azure;
  font-weight: 500;
}

.sm-sub-text {
  font-family: Bahnschrift;
  font-size: 18px;
  color: azure;
  font-weight: 500;
}

.number-text {
  font-family: Bahnschrift;
  font-weight: 300;
  font-size: 16px;
  color: azure;
  line-height: 60px;
}

.number-text-sm {
  font-family: Bahnschrift;
  font-weight: 300;
  font-size: 16px;
  color: azure;
  line-height: 40px;
  margin-right: 10px;
}

.email-text-sm {
  font-family: Bahnschrift;
  font-weight: 300;
  font-size: 16px;
  color: azure;
  line-height: 40px;
  margin-left: 10px;
}

.email-text {
  font-family: Bahnschrift;
  font-weight: 300;
  font-size: 16px;
  color: azure;
  line-height: 30px;
}

@media screen and (max-width: 767px) {
  .contact-us-container {
    padding-top: 0px;
    width: 100%;
  }
  .contact-us {
    display: none;
  }
  .number-text {
    display: none;
  }
  .email-text {
    display: none;
  }
}

.call-us-sm-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .call-us-sm-container {
    display: none;
  }
  .sm-sub-text {
    display: none;
  }
}

.currency-text {
  font-family: Bahnschrift;
  font-size: 22px;
  color: azure;
  font-weight: 500;
  line-height: 60px;
}

.currency-container {
  display: flex;
  align-items: center;
}

.footer-star {
  width: 8px;
  margin: 5px;
}

.usd-text {
  font-family: Bahnschrift;
  font-size: 18px;
  color: azure;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .currency-text {
    font-size: 18px;
    line-height: 40px;
  }
  .usd-text {
    font-size: 16px;
  }
}

.transaction-will-text {
  font-family: Bahnschrift;
  font-weight: 300;
  font-size: 13px;
  color: azure;
  line-height: 50px;
}

.hr-line {
  border: 1px solid #bfc8cd;
}

.hr-line-sm {
  border: 1px solid #bfc8cd;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hr-line-sm {
    display: none;
  }
}

.footer-second-section-container {
  display: flex;
}

.footer-sublist-section-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer-sublist-section-container {
    width: 24%;
  }
}

.footer-sub-head-text {
  font-family: Bahnschrift;
  font-size: 22px;
  color: azure;
  font-weight: 500;
  line-height: 60px;
}

.footer-list-items-container {
  list-style-type: none;
  padding: 0px;
}

.footer-list-items-text {
  font-family: Bahnschrift;
  font-weight: 300;
  font-size: 15px;
  color: azure;
  line-height: 30px;
}

.follow-us-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

@media screen and (max-width: 767px) {
  .transaction-will-text {
    display: none;
  }
  .footer-sublist-section-container {
    display: none;
  }
  .follow-us-container {
    display: none;
  }
}

.follow-icons {
  width: 33px;
  margin: 6px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid black;
}
.follow-icons:hover {
  box-shadow: 0px 0px 7px 0px #ffffff;
}

.mettamuse-accept-text {
  margin-top: 30px;
}

.mettamuse-accept-container {
  display: flex;
  flex-direction: column;
}

.mettamuse-accept-container-sm {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .mettamuse-accept-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mettamuse-accept-container-sm {
    display: none;
  }
}

.accept-payment-list-container {
  display: flex;
  align-items: center;
  padding: 0px;
  list-style-type: none;
}

.payment-box {
  display: flex;
  align-items: center;
  width: 65px;
  height: 40px;
  background-color: azure;
  border-radius: 6px;
  border: 1px solid azure;
  margin: 4px;
  padding: 0px;
  cursor: pointer;
}

.payment-box:hover {
  box-shadow: 0px 0px 8px 0px white;
}

.payment-icon-logo {
  width: 65px;
  height: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .payment-box {
    width: 60px;
    height: 35px;
  }
  .payment-icon-logo {
    width: 55px;
    height: 32px;
  }
}

.copy-right-text {
  font-family: Bahnschrift;
  font-size: 16px;
  color: azure;
  font-weight: 300;
  line-height: 80px;
  text-align: center;
}

.footer-list-items-sm-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .footer-list-items-sm-container {
    display: none;
  }
}

.arrow-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-footer-items-sm-container {
  padding: 0px;
  list-style-type: none;
  margin-top: 16px;
}
.list-footer-item-sm {
  font-family: Bahnschrift;
  font-size: 15px;
  color: azure;
  font-weight: 300;
  line-height: 26px;
}
.footer-sm-follow-container {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .list-footer-items-sm-container {
    display: none;
  }
  .footer-sm-follow-container {
    display: none;
  }
}
